.titulo{
  margin-top: 80px; margin-left: 250px; padding-bottom: 100px;
}

.conteiner{
  align-items: center;
    display: block;
    display: inline-flex; height: 100px; padding-left: 200px
}

.conteiner .inputs_left{
  padding-left: 50px;  width: fit-content; align-items: center; padding-top: 70px;
}
  
.conteiner .inputs_right{
  padding-left: 50px; padding-top: 35px;  width: fit-content; align-items: center;
}

