*{
  margin: 0;
  padding: 0;
  font-family: Lexend;
  list-style: none;
  text-decoration: none;
}
a{
  color: inherit;  
}
img{
  max-width: 100%;
}
/* páginas com mais de uma sessão usar a class abaixo para cada section*/
.section-width{
  width: 540px;
}
/* Altura banner */
.banner{
  height: 340px;
}

/* Margem automatica
 sempre colocar na div conteúdo */
.margin{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}


/* Cores dos backgrounds */

/* background azul escuro */
.background-a{
  background-color: #012569;
}
/* background branco */
.background-b{
  background-color: #fafbfd;
}



/* Tamanho das fontes */

/* Tamanho da fonte para span footer */
.font-12{
  font-size: 12px;
}
/* Tamanho da fonte para p */
.font-16{
  font-size: 16px;
}
/* Tamanho da fonte para p */
.font-20{
  font-size: 20px;
}
/* Tamanho da fonte para h3 */
.font-24{
  font-size: 24px;
}
/* Tamanho da fonte para h2 */
.font-32{
  font-size: 32px;
}
/* Tamanho da fonte para h1 */
.font-36{
  font-size: 36px
}
/* Tamanho da fonte para h1 banner para a calculadora*/
.font-42{
  font-size: 42px;
}

/* Botão */
.botao{
  background-color: #012569;
  padding: 10px 18px;
  border-radius: 100px;
  color: #fafbfd;
  box-shadow: 0px 3px 1px #868C9F;
}

/* inputs */
.input{
  width: 240px;
  height:36px ; 
  background-color: #EEEE; 
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 3px 1px #d4d5d7;
}


/* Cores de fonte */

/* fonte branca */
.b-1{
  color: #fafbfd;  
}
/* fonte preta */
.p-1{
  color:#010203;
}
/* fonte azul escura */
.a-1{
  color: #08102B;
}
/* fonte cinza */
.c-1{
  color: #868C9F;
}



/* header css */
.header-background{
  background-color: #012569;
}
.header-container{
  height: 76px;
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}
.logo p{
  display: flex;
  align-items: center;
  color: #fafbfd;
  font-size: 20px;
}
.logo img{
  max-width: 40px;
}
.navbar li{
  display: inline-block;
  width: fit-content;
}
.home-contato a{
  color: #fafbfd;
  padding-right: 50px;
}
.login-botao li:last-child{
    text-align: center;
    position: relative;
    width: 80px;
    color:#010203;
    border-radius: 100px;
    padding: 10px 10px ;
    background-color: #fafbfd;
}
.login-botao li:first-child{
  color: #fafbfd;
}
.back-cadastro:before{
  content:"";
  color: #fafbfd;
  position: absolute;
  right: 270px;
  top: 18px;
  height: 20px;
  width: 120px;
  border-radius: 100px;
  padding: 10px 14px ;
  background-color: rgba(245, 245, 245, 0.58);
}


/* footer css */
.footer-container {
  background-color: #012569;
}
.footer-conteudo{
  display:flex;
  color: #fafbfd;
  justify-content: space-between;
  justify-items: center;
padding-top: 48px;
padding-bottom: 24px;
}
.footer-conteudo h3{
  padding-bottom: 24px;
  text-align: center;
  font-size: 24px;
}
.footer-conteudo a{
  padding-bottom: 8px;
  align-items: center;
  display: flex;
}
.footer-conteudo a img{
  padding-right: 8px;
}
.redes-icon{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 14px;
}
.redes-icon img{
  max-width: 47px;
}
.footer-direitos{
  border-top: #868C9F solid 1px;
  padding-bottom: 16px;
  padding-top: 16px;
  grid-column: 1/4;
  color: #868C9F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-direitos span{
  font-size: 12px;
}